<iframe width="640" height="360" src="https://www.youtube.com/embed/1Ij4Wd8ISqM" frameborder="0" gesture="media" allowfullscreen></iframe>

<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<div id = "comments">
	
</div>

<script>
	// $(window).click(function() { activa el evento clic envia la ruta el tipo de llamado tipo de respuesta }
	$(window).click(function() {

		$.ajax({
			url: '<%= comments_path %>',
			type: 'POST',
			dataType: 'json',
			data: {comment: {content: 'comentario via ajax enviado a tabla comments al campo content con respuesta JSON'},}
		})

		.done(function(data) {
			console.log(data);
			$("#comments").append(data.content);
		})

		.fail(function() {
			console.log("error");
		})

		.always(function() {
			console.log("complete");

		});
	});
</script>
